@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: League Spartan;
  src: url(../fonts/LeagueSpartan-VariableFont_wght.ttf);
}
body {
  font-family: 'League Speartan', 'Arial', sans-serif;
min-height: 100vh;
  height: 100%;
  width: 100%;
  background: #DFE3FA;
}
